$margin-center: 0 auto;
$padding-1: 3px;
$padding-2: 5px;
$padding-3: 5px 10px;
$width: 1700px;

$white: #ffffff;
$theme-color-1: #746fbb;
$theme-color-2: #bdbfe8;
$theme-color-3: #ccd3ff;
$theme-color-4: #ffbcbc;
$theme-color-5: #4d457b;
$theme-color-6: #58619c;
$theme-color-7: #384075;
$warning-color: #a20606;
$btn-color: #ff9393;
$edit-btn-color: #524a8a;
$linear-background-1-top: linear-gradient(to top,  #a2d2ff, #cdb4db);
$linear-background-1-bottom: linear-gradient(to bottom,  #a2d2ff, #cdb4db);

$font-1: 'Questrial';
$font-2: 'Noto Sans', sans-serif;
$font-size-1: 30px;
$font-size-2: 28px;
$font-size-3: 22px;
$font-size-4: 18px;
$font-size-5: 16px;
$font-size-6: 14px;
$font-weight-bold: bold;
$font-weight-normal: normal;
$font-weight-lighter: lighter;
$none-text-decoratin: none;
$text-shadow: 1px 1px 1px;
$border-1: 1px solid;
$border-2: 3px solid;
$line-height: 1.5em;
$letter-spacing-1: 1px;
$letter-spacing-2: 3px;
$letter-spacing-3: 20px;
$unset-color: unset;
$cursor-1: pointer;
$transition-1: all 0.2s;
